[Unit]
Description=Launch Platypus for NGINX
After=udf-git-pull.service

[Service]
User=ubuntu
Group=ubuntu
Environment="PLATYPUS_NGINX=/home/ubuntu/nginx/install/sbin/nginx"
WorkingDirectory=/home/ubuntu/platypus
ExecStart=/home/ubuntu/platypus/platypus run --default-host http://10.1.1.4 --build-dir /home/ubuntu/platypus/nginx-build 10.1.1.4:9000 nginx 

[Install]
WantedBy=default.target
