[Unit]
Description=Setup UDF Resources
After=udf-git-pull.service

[Service]
ExecStart=/home/ubuntu/code-server-config/workspace/.udf/udf-setup.sh

[Install]
WantedBy=default.target
