[Unit]
Description=Setup UDF Resources
After=network.target

[Service]
ExecStart=/home/ubuntu/code-server-config/workspace/.udf/udf-setup.sh

[Install]
WantedBy=default.target
